* {
    padding: 0;
    margin: 0;
}
.body {
    font-family: Playfair Display;
}
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.main-heading {
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
    white-space: nowrap;
    color: #f0f0f0;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
    font-weight: 500;
    font-size: 45px;
    padding-left: 2vw;
    padding-top: 10px;
}
.middle-side {
    margin: 12px 2px 0 2px;
    flex: 2.5;                     /* grow to take available space */
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;           /* ✅ prevent buttons from going down */
    min-width: 0;
}
.button {
    flex: 1 1 0;
    text-align: center;
    font-size: clamp(12px, 1.5vw, 20px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px 10px;
    color: #f0f0f0;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
}
.right-side {
    position: relative;
    display: flex;
    flex: 0.5;
    margin: 10px 0px 0 5px;
}
.search-bar {
    outline: none;
    border:2px solid rgb(255, 94, 0) ;
    background-color: #0000;
    font-size: 12px;
    width: 100%;
    padding: 10px;
    border-radius: 50px;
}
.search-bar::placeholder
{
    color: #f0f0f0;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
}
.search {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 38px;
    border-radius: 50px;
    background-color: rgb(255, 94, 0);
    justify-content: cover;
    align-items: left;
}
.search-icon {
    width: 85%;
    width: 85%;
    border-radius: 50px;
    padding: 6px 0 0 6px;
    cursor: pointer;
}

