.info {
  position: absolute; /* if you're using it this way */
  top: clamp(100px, 25vh, 250px); /* pushes down from top */
  left: 1%;
  right: 3%;
  width: clamp(375px, 55vw, 1200px); /* keeps it from touching the edge */
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.intro-text {
    font-size: clamp(16px, 6vw, 70px);
    color: #f0f0f0;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
}
.dev {
    color: rgb(255, 94, 0);
}
.brief-text {
    font-family: Arial;
    color: #f0f0f0;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
    font-size: clamp(6px, 2vw, 35px);
}
.note {
    position: absolute;
    bottom: 2%;
    right: 1%;
    font-size: clamp(2px, 0.5vw, 12px);
}